{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [ "babel-plugin-webpack-alias", { "config": "./webpack.config.babel.js" } ]
  ]
}
